<!DOCTYPE html>
<html>
  <head>
    <title>Frigg CI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="alternate" type="application/atom+xml" href="http://frigg.io/feed.xml" />
    <meta name="google-site-verification" content="dDjWKZ81NV_RuvaCfvcBNjK_TBVBWEe8UfgiNoh3cWk" />
  </head>
  <body class="{{page.type}}">
    <div class="bg"></div>
    <div class="landing-page-wrapper">
      <div class="landing-page-container">
        <h1>Just link it,<br class="display-mobile"> we test it,<br class="display-mobile"> we build it too!</h1>
        <p class="webhook">Just create a webhook to:<br class="display-mobile">
        http://ci.frigg.io/webhooks/github/</p>
        <a href="http://ci.frigg.io">Login with Github at ci.frigg.io</a>
        <h3>Latest news:</h3>
        <ul class="unstyled list-posts">
          {% for post in site.posts %}
          <li>
            <a href="{{post.url}}" class="title pull-left">{{post.title}}</a>
            <span class="date pull-right">{{post.date|date: "%d.%m.%Y"}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      {{content}}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55876284-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
