<!DOCTYPE html>
<html>
  <head>
    <title>Frigg CI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/main.css" />
    <meta name="google-site-verification" content="dDjWKZ81NV_RuvaCfvcBNjK_TBVBWEe8UfgiNoh3cWk" />
  </head>
  <body>
    <div class="bg"></div>
    {{content}}
  </body>
</html>
